{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
     <link href="https://fonts.googleapis.com/css2?family=Sansation:wght@300;400;700&display=swap" rel="stylesheet"> 
    <meta charset="UTF-8">
    <title>Fim do Teste</title>
    <link rel="stylesheet" type="text/css" href="{% static 'testes/fim_teste.css' %}">
    
</head>
<body>
    <img src="{% static 'utilizador/images/logo.png' %}" alt="Logotipo" class="logo">
    <div class="circulo-container">
        <div class="meio-circulo"></div>
        <div class="texto-circulo">
            <h1>TESTE - ALFABETO<br>Língua Gestual Portuguesa<br></h1>
        </div>
    </div>

    <!-- Centraliza só isto -->
    <main class="conteudo-centralizado">
        <div class="mensagem">
            <p>Parabéns por terminares o teu primeiro teste!</p>
        
<p>Pontuação final: {{ pontuacao }} de {{ total_perguntas }}</p>
<p>Percentagem: {{ percentagem }}%</p>

            {% if pontuacao >= 95 %}
    <p class="feedback-verde">Excelente! Acertaste quase tudo à primeira!</p>
{% elif pontuacao >= 60 %}
    <p class="feedback-amarelo">Bom trabalho! Ainda podes melhorar um pouco.</p>
{% else %}
    <p class="feedback-vermelho">Não desistas! Tenta rever a matéria e volta a tentar.</p>
{% endif %}

    
            <div class="Boneco">
                <img src="{% static 'utilizador/images/boneco_fim_teste.png' %}" alt="Boneco" class="boneco">
            </div>
        </div>
    
        <a href="{% url 'dashboard' %}" class="botao-final">
            TERMINAR TESTE
        </a>
    </main>
    