* {
    font-family: 'Sansation', sans-serif;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.circulo-container {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
}


.meio-circulo {
    width: 650px;
    height: 650px;
    background-color: #9ABDBB;
    border-radius: 50%;
    position: absolute;
    left: -560px; 
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}


.texto-circulo {
    text-align: center;
    position: relative; 
    left: 70px; 
}

.texto-circulo h1 {
    color: #000;
    font-size: 1.7em;
    font-weight: bold;
}

.conteudo-direito {
    width: 50%;
    padding: 3rem;
    background-color: white;
    margin-left: 350px; 
}

.titulo-pesquisa {
    font-size: 1.5em;
    margin-bottom: 1rem;
}

.form-pesquisa {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.input-pesquisa {
    padding: 0.5rem;
    border: 1px solid #000;
    border-radius: 8px;
    flex: 1;
    font-size: 1rem;
}

.botao-pesquisa {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

.categorias {
    list-style: disc;
    padding-left: 1rem;
}

.categorias li {
    margin: 0.5rem 0;
}

.categorias a {
    text-decoration: underline;
    color: black;
}

.left-side {
    width: 35%; 
    background-color: #aedcdaef; 
    height: 100%; 
}


.item-galeria img {
    max-width: 150px; 
    height: auto;
    border-radius: 8px;
}

.logo {
    position: absolute;
    top: -25px;
    right: 6px;
    width: 150px; 
    height: auto;
    z-index: 2;
}



.descricao-aula small {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
}

.descricao-aula em {
    color: #555;
    font-style: italic;
}

.layout-pesquisa {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.coluna-aulas {
    flex: 1;
}

.coluna-galeria {
    flex: 2;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item-galeria {
    width: 200px;
    text-align: center;
}

.item-galeria img,
.item-galeria video {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 8px;
}

.descricao-aula small {
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
}

.descricao-aula em {
    font-style: italic;
    color: #666;
}

