{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Sansation:wght@300;400;700&display=swap" rel="stylesheet"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Redefinida</title>
    <link rel="stylesheet" href="{% static 'utilizador/password.css' %}">
</head>
<body>
    <a href="{% url 'home' %}">
        <img src="{% static 'utilizador/images/logo.png' %}" alt="Logotipo" class="logo">
    </a>

    <div class="container">
        <div class="left-side">
            <h1>SUCESSO!</h1>
            <p class="descricao">
                A tua palavra-passe foi redefinida com sucesso.<br>
                Já podes <a href="{% url 'login' %}">iniciar sessão</a> com a nova password.
            </p>
        </div>

        <div class="right-side-bg">
            <div class="circle-right"></div>
        </div>
    </div>
</body>
</html>
